main {
	min-height: 90vh;
}

h3 {
	padding: 1rem 0;
}

h1 {
	font-size: 1.8rem;
	padding: 1rem;
}

h1 {
	font-size: 1.4rem;
	padding: 0.5rem;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
	display: flex;
}
.carousel-caption {
	position: absolute;
	top: 0;
	padding: 10px;
	box-sizing: border-box;
}

.carousel-caption h2 {
	color: #fff;
}

.carousel img {
	height: 400px;
	width: 400px;
	object-fit: contain;
	padding: 40px;
	margin: 40px;
	/* border-radius: 50%; */
	margin-left: auto;
	margin-right: auto;
}
.carousel a {
	margin: 0 auto;
}

@media (max-width: 900px) {
	.carousel img {
		width: 300px;
		height: 300px;
	}

	.carousel-caption h2 {
		font-size: 4vw;
	}
}
